---
const { about } = Astro.props;
const { points, image } = about;

const content = points.map(({ content, highlights }) => {
  for (const highlight of highlights) {
    content = content.replace(highlight, `<strong>${highlight}</strong>`);
  }
  return content;
});
---

<div class="flex flex-col-reverse lg:flex-row gap-8">
  <div class="flex flex-col gap-5 text-gray-700 dark:text-white">
    {
      content.map((point) => (
        <p
          set:html={point}
          class="[&>strong]:text-blue-500 dark:[&>strong]:text-blue-400 text-pretty"
        />
      ))
    }
  </div>
  {
    image && (
      <img
        src={image}
        alt="Foto de Jose Ricardo"
        class="max-w-xs self-center rounded-xl size-56"
      />
    )
  }
</div>
