---
import ExperienceItem from "../ExperienceItem.astro";
const { experience } = Astro.props;
---

<div class="relative ps-4">
  <ol class="border-s border-gray-200 dark:border-gray-700">
    {
      experience.length > 0 &&
        experience.map((experience, i) => (
          <li class="mb-10 ms-6">
            <ExperienceItem {...experience} id={`exp-${i}`} />
          </li>
        ))
    }
  </ol>
</div>
