---
import SkillsCard from "@/components/SkillsCard.astro";
const { knowledge } = Astro.props;
---

<div class="grid md:grid-cols-2 md:grid-rows-2 gap-10">
  {
    knowledge.map((set) => (
      <span class="rounded-2xl transition shadow-lg bg-gradient-to-br gradient-bg">
        <SkillsCard {...set} />
      </span>
    ))
  }
</div>
<style>
  .gradient-bg{
    @apply from-slate-50 via-white to-slate-50 dark:from-blue-950 dark:via-slate-900 dark:to-blue-950 lg:dark:from-slate-950 lg:dark:via-slate-900 lg:dark:to-slate-950 dark:shadow-[0px_0px_50px_-10px_rgba(30,41,59,0.5)]
  }
</style>
