---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { basics } from "@/resume.json";
import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import Briefcase from "@/icons/Briefcase.astro";
---

<Layout
  title="Portafolio de Ricardo Ramirez - Programador y Desarrollador web, React Junior"
  description="Contrata a Ricardo Ramirez, Ingeniero en sistemas y desarrollador web con experiencia en diferentes librerías de JavaScript"
>
  <main>
    <SectionContainer class="py-16 md:py-44">
      <Hero basics={basics} />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>
  </div>
</Layout>
