---
import AboutMe from "@/components/sections/About_me.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Skills from "@/components/sections/Skills.astro";
import Briefcase from "@/icons/Briefcase.astro";
import Code from "@/icons/Code.astro";
import UserCode from "@/icons/UserCode.astro";
import UserCheck from "@/icons/UserCheck.astro";
import Layout from "@/layouts/Layout.astro";
import { basics } from "@resume";
---

<Layout
  title="Portafolio de Ricardo Ramirez - Programador y Desarrollador web, React Junior"
  description="Contrata a Ricardo Ramirez, Ingeniero en sistemas y desarrollador web con experiencia en diferentes librerías de JavaScript"
>
  <main class="mx-4">
    <SectionContainer class="py-16 md:py-44" id="inicio">
      <Hero basics={basics} />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia"  title="Experiencia">
        <Briefcase class="size-8 stroke-2" slot="icon" />
        <Experience />
      </SectionContainer>
      <SectionContainer id="proyectos" title="Proyectos">
        <Code class="size-8 stroke-2" slot="icon"/>
        <Projects />
      </SectionContainer>
      <SectionContainer id="conocimientos" title="Conocimientos">
        <UserCode class="size-8 stroke-2" slot="icon"/>
        <Skills />
      </SectionContainer>
      <SectionContainer id="sobre-mi" title="Sobre mi">
        <UserCheck class="size-8 stroke-2" slot="icon"/>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
