---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const SECTIONS = [
{
    title: t("nav.experience"),
    link: `#${t("nav.experience")}`,
  },
  {
    title: t("nav.projects"),
    link: `#${t("nav.projects")}`,
  },
{
    title: t("nav.contact"),
    link: "mailto:jr.ramirez.varon@gmail.com",
  },
];
---

<div class="flex justify-center px-4 w-full">
  <div
    class="flex items-center justify-between mt-16 mb-5 font-medium text-sm text-gray-700 dark:text-gray-300 rounded-lg px-6 py-4 bg-gray-100 dark:bg-white/10 w-full max-w-sm sm:max-w-xl md:max-w-2xl lg:max-w-4xl"
  >
    <span>
      {t("footer.basedOn")}
      <a
        href="https://porfolio.dev/"
        target="_blank"
        class="text-blue-500 dark:text-blue-300 hover:underline hover:text-blue-400 transition"
        >portfolio.dev</a
      >
    </span>
    <ul class="flex items-end max-sm:flex-col gap-5">
      {
        SECTIONS.map(({ title, link }) => (
          <li>
            <a
              href={link}
              class="hover:text-blue-500 hover:underline dark:hover:text-blue-500 transition"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
