---
import Download from "@/icons/Download.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Contáctame from "@/icons/Mail.astro";
import SocialPill from "./SocialPill.astro";

const { profiles, resume } = Astro.props;

const SOCIAL_ICONS = {
  LinkedIn,
  GitHub,
  Contáctame,
};
---

<nav class="flex flex-wrap gap-2 pt-2">
  {
    profiles &&
      profiles.map(({ network, username, url }) => {
        const Icon = SOCIAL_ICONS[network];
        return (
          <SocialPill username={username} url={url}>
            <Icon class="size-4 mx-1" />
            <span class="px-1">{network}</span>
          </SocialPill>
        );
      })
  }
    <SocialPill url={resume}>
      <span class="px-1">CV</span>
      <Download class="size-3.5 mx-1" />
    </SocialPill>
</nav>
