---
import { getLangFromUrl } from '@/i18n/utils';
import { languages } from '@/i18n/ui';
import Switch from '@/icons/Switch.astro';

const lang = getLangFromUrl(Astro.url);
const link = lang === 'es' ? 'en' : 'es';
const label = languages[link];

const langMessage =
  lang === 'es' ? 'Go to english version' : 'Ir a version en español';
---

<a
  id='lang'
  class='relative flex gap-x-2 items-center p-3 md:px-5 2xl:p-6 2xl:text-2xl md:hover:text-blue-500 md:dark:hover:text-blue-400 transition group'
  href={`/${link}/`}
  title={`/${link}`}
>
  <Switch class='size-4 md:hidden' />
  {label}
  <p
    class='max-md:hidden md:whitespace-nowrap md:py-1 md:px-3 rounded-lg transition md:scale-0 md:group-hover:scale-100 md:origin-right md:absolute md:right-full md:text-blue-500 md:dark:text-blue-400 backdrop-blur'
  >
    {langMessage}
  </p>
</a>
