---
interface Props {
  class?: string,
  id?: string
}

const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto container max-w-xs lg:max-w-4xl sm:max-w-3xl`}
>
  <slot />
</section>