---
import {skillSet} from '@/resume.json';
import SkillsCard from './SkillsCard.astro';
---

<div class="grid md:grid-cols-2 md:grid-rows-2 gap-10">
  {skillSet.map((skills) => <SkillsCard {...skills}/>)}
</div>