---
import { knowledge } from "@/resume.json";
import SkillsCard from "./SkillsCard.astro";
---

<div class="grid md:grid-cols-2 md:grid-rows-2 gap-10">
  {
    knowledge.map((set) => (
      <span class="rounded-2xl transition shadow-lg bg-gradient-to-br gradient-bg">
        <SkillsCard {...set} />
      </span>
    ))
  }
</div>
<style>
  .gradient-bg{
    @apply from-slate-50 via-white to-slate-50 dark:from-slate-900 dark:via-zinc-900 dark:to-slate-900 dark:shadow-[0px_0px_50px_-10px_rgba(30,41,59,0.9)]
  }
</style>
